.btn-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  border: none;
}

.slider-prev {
  top: 50%;
  left: 10px;
  transform: translateY(-60%);
}

.slider-next {
  top: 50%;
  right: 10px;
  transform: translateY(-60%);
}
