* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-break: keep-all;
}

:root {
  --primary-color: #58abf6;
  --border: #007aff;
  --error: #e94040;
  --success: #00c469;
}

.row {
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: #0060b6;
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  color: #bdbdbd;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e0e0e0;
}

/* .fire {
  background-color: #ff9800;
}

.grass {
  background-color: #4caf50;
}

.water {
  background-color: #2196f3;
}

.bug {
  background-color: #cddc39;
}

.flying {
  background-color: #00bcd4;
}

.dragon {
  background-color: #3f51b5;
}

.ghost {
  background-color: #673ab7;
}

.poison {
  background-color: #9c27b0;
}

.psychic {
  background-color: #e91e63;
}

.fighting {
  background-color: #f44336;
}

.dark {
  background-color: #263238;
}

.steel {
  background-color: #607d8b;
}

.normal {
  background-color: #99ee9e;
}

.rock {
  background-color: #795548;
}

.ground {
  background-color: #ffc107;
}

.electric {
  background-color: #ffeb3b;
}

.ice {
  background-color: #009688;
}

.fairy {
  background-color: #ffaec9;
} */

/* Alternative */

.bug {
  background-color: #cddc39;
}

.dark {
  background: #595761;
}

.dragon {
  background: #0c69c8;
}

.electric {
  background: #f2d94e;
}

.fire {
  background: #fba54c;
}

.fairy {
  background: #ffaec9;
}

.fighting {
  background: #d3425f;
}

.flying {
  background: #a1bbec;
}

.ghost {
  background: #5f6dbc;
}

.grass {
  background: #5fbd58;
}

.ground {
  background: #da7c4d;
}

.ice {
  background: #75d0c1;
}

.normal {
  background: #99ee9e;
}

.poison {
  background: #b763cf;
}

.psychic {
  background: #fa8581;
}

.rock {
  background: #c9bb8a;
}

.steel {
  background: #5695a3;
}

.water {
  background: #539ddf;
}
