.accordion {
  width: 100%;
  background-color: none;
}

.accordion-item {
  background-color: none;
  padding: 0px 10px;
}

.accordion-title {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  font-size: 12px;
}

.accordion-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  margin: 25px 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0, 1, 0, 1);
}

.accordion-content-item {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 45px;
  font-size: 13px;
}

.accordion-content.accordion-show {
  height: auto;
  margin: 25px 0;
  max-height: 100px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e0e0e0;
}
