.spinner {
  width: 35px;
  height: 35px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  /* animation-timing-function: linear; */
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #fafafa; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
