.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2rem 5rem;
}

.filter-sort {
  display: flex;
}

.toggle{
  padding: 0 25px;
}

.view,
.sort,
.toggle,
.generation,
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
