.card {
  position: relative;
  padding: 2rem;
  width: 400px;
  height: 160px;
  margin: 15px;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%),
    0 12.5px 10px rgb(0 0 0 / 6%);
  transition: all 3s;
  z-index: 5;
  cursor: pointer;
}

.card:hover .pokeball {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pokeball {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 140px;
  color: #ffffff;
  opacity: 7%;
  z-index: 5;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  transform: translate(0, -5px);
  transition: all 250ms;
}

.pokemon-img {
  position: absolute;
  width: 100px;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  transition: none !important;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: 600;
}
