.card {
  position: relative;
  padding: 2rem;
  width: 25rem;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  transition: all 3s;
  z-index: 5;
}

.pokeball {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 10rem;
  height: 10rem;
  color: #ffffff;
  opacity: 7%;
  z-index: 5;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  transform: translate(0, -5px);
  transition: all 250ms ease-in-out;
}

.pokemon-img {
  position: absolute;
  width: 6rem;
  height: 6rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
}

.pokemon-name {
  font-size: 1.5rem;
  font-weight: 600;
}
