.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: none !important;
  padding: 0 4rem;
}

.cardsContainter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.titulo {
  width: 100%;
}

.fire {
  background-color: #ff9800;
}

.grass {
  background-color: #4caf50;
}

.water {
  background-color: #2196f3;
}

.bug {
  background-color: #cddc39;
}

.flying {
  background-color: #00bcd4;
}

.dragon {
  background-color: #3f51b5;
}

.ghost {
  background-color: #673ab7;
}

.poison {
  background-color: #9c27b0;
}

.psychic {
  background-color: #e91e63;
}

.fighting {
  background-color: #f44336;
}

.dark {
  background-color: #263238;
}

.steel {
  background-color: #607d8b;
}

.normal {
  background-color: #99ee9e;
}

.rock {
  background-color: #795548;
}

.ground {
  background-color: #ffc107;
}

.electric {
  background-color: #ffeb3b;
}

.ice {
  background-color: #009688;
}

.fairy {
  background-color: #ffaec9;
}
