.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: none !important;
  padding: 0 5%;
}

.cardsContainter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.titulo {
  width: 100%;
}


