.navbar {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  height: 80px;
}

.navbar-mobile-btn {
  display: none;
  font-size: 31px;
  cursor: pointer;
  height: 35px;
  margin: 0 15px;
}

.navbar-mobile-icon-active {
  color: #fff;
}

.logo {
  display: flex;
  cursor: pointer;
  margin: 0 15px;
}

.create {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .create {
    display: none;
  }

  .navbar-mobile-btn {
    display: block;
  }
}
