.Navbar {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.logo {
  height: 3rem;
  display: flex;
}

.create {
  padding: 1rem 2rem;
  background-color: #58abf6;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
