.Navbar {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
}

.logo {
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 5rem;
  align-self: center;
}

.create {
  padding: 1rem 2rem;
  background-color: #58abf6;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
